.body {
    margin: 0;
    top: 0;
    border: 0;
}


.title {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.logonav {
    float: right;

}



/*barra de navegação*/
.barranavegacao {
 position: fixed;
 background-color: #3C3D37;
 flex-direction: row;
 display: flex;
}  

.menu {
    display: flex;
    flex-direction: row;
    float: left;
    position: fixed;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
    text-align: center;
}